
section .cart {
    position: relative;
    border:1px solid #ccc;
    margin-top: 20px;
}
.delete{
    position: absolute;
    top: 0;
    right:5px;
     background: none;
     border: none;
     color: crimson;
     font-weight: 900;

}
.amount span {
    color: crimson;
    padding: 0 20px;
}
.amount .count {
    width: 40px;
    height: 30px;
    border: 1px solid #555;
    outline: none;
     background: transparent;
    cursor: pointer;
}
.total {
    width: 100%px;
    height: 50px;
    display: flex;
    align-items: center;

    justify-content: space-between;
}
.total a {
    text-decoration: none;
    background-color: #333;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
}
.total h3 {
    margin-right: 5px;
    color:crimson

}