.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

   
}
.details img {
    max-width: 400px;
    min-width: 200px;
   height: 400px;
   width: 100%;
   display: block;
   object-fit: cover;
}
.details .box {
    max-width: 500px;
    min-width: 290px;
    margin: 25px;
}
.box .row {
    display: flex;
    justify-content: space-between ;
    margin-bottom: 15px;
}
.box .row h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.box .row span {
    color:crimson;
}
.box .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}
.box  p {

   margin: 15px 0;
}
.box .cart {
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
}